
/* ADICIONANDO NOVAS FONTES */
@font-face {
    font-family: 'Corpo';
    src: url("fonts/BARKENTINA.OTF");
}

@font-face {
    font-family: "Til";
    src: url('fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

/* ESTILO DA PÁGINA JOGAR */
.main-content-sep {
    margin: 30px 0;
}
.main-content-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  /* Estilização dos campos de Nome e Email lado a lado */
  .fields {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  .fields input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  /* Estilização do textarea */
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
    resize: vertical;
  }
  /* Botão de envio */
  .index {
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 20px  auto;
    background-color: gold;
    color: black;
    font-size: 20px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }
  .index:hover {
    background-color: darkgoldenrod;
    transform: scale(1.1);
  }


  /*ESTILIZANDO PÁGINA DE TUTORIAL */

  body{
    background-color: #f5f5f5;
  }

  .tutorial {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
    height: auto;
    background-color: #f5f5f5;
    padding-left: 10%;
    margin-bottom: 50px;
}
.div_principal {
    position: relative;
    width: 80%;
    margin: 10px;
}
.menu {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    gap: 10px;

}
.menu button {
    width: auto;
    height: 52px;
    padding: 6px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    cursor: pointer;
    background-color: #f5f5f5;
    color: gold;
    font-size: 14px;
    transition: all 0.3s ease;
}
.menu button.active {
    width: 180px;
    padding: 8px;
    background-color: white;
    color: black;
    font-weight: bold;
}
.content-box {
    width: 100%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #ccc;
    margin-top: 45px;
    position: relative;
    padding: 20px;
    transition: background-color 0.3s ease;
    text-align: left;
}
.content-box img {
    width: 200px;
    height: auto;
    margin: 10px 0;
}

.content-box p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;   
}

.content-box h2 {
    font-family: 'Til';
    font-size: 40px;
    margin-bottom: 0px;
    color: #0A0F2C;   
}

.tutorial h1 {
    font-size: 82px;
    font-family: 'Til';
    margin-bottom: 0px;
    margin-top: 10px;
    color: #0A0F2C;
    
}
.tutor{
    font-size: 18px;
    font-family: 'Corpo';
    margin-top: 0px;
}

.img-tutorial{
    width: 350px;
  }

.content-img {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

@media (max-width: 745px){
  .tutorial {
    min-width: 80%;
    overflow-x: hidden;
    padding: 10px;
    margin: 0 auto;
  }
  .tutorial h1 {
    font-size: 12vw;
  }
  .tutorial p {
    font-size: 4vw;
  } 
  .div_principal {
    min-width: 100%;
    overflow-x: hidden;
    padding: 5px;
    margin: 0 auto;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .content-box {
    margin-top: 120px;
  }
  .content-box p {
    font-size: 4vw;
  }
  .content-box h2 {
    font-size: 7vw;
  }
  .img-tutorial {
    width: 80px;
  }
  .fields {
    display: block;
  }
  .fields input {
    width: 100%;
    margin: 10px 0;
  }
  .index {
    padding: 10px 15px;
  }
}